<div class="workflow-view " id="workflow-view-action-handler">
    <div id="workflow-action-handler-container">
        <div class="workflow-action-handler">
        <h1> Test Web Panel </h1>
        <div> $issue </div>
        <div> $project </div>
        <div> $workflow </div>
        <div> $helper.getQueryString() </div>
        <div> $helper.getRequest() </div>
      
        #parse("/templates/samples/requestParam.vm")
        
        <!-- 
            workflow 
            sample

            http://localhost:2990/jira/browse/TEST-1?workflowMode=live&workflowName=TEST%3A+Project+Management+Workflow
        -->

        #set($workflowMode = $helper.getRequest().getParameter('workflowMode') )
        #set($workflowName = $helper.getRequest().getParameter('workflowName') )
        
        #set($someOtherValue = "http://www.example.com/")
        $soyRenderer.render('dev.jira.My:my','JIRA.Templates.Links.helpLink',{
            'isLocal': true,
            'url': ${someOtherValue},
            'title': "test title"
        })
        </div>
    </div>
</div>