{namespace JIRA.WorkflowActionHandler.Templates.Sample}

/**
 * User for display
 *
 * @user AtlassianUser
 */
{template .user}
<a id="{$user}" href="/secure/ViewProfile.jspa?name={$user}.getAuthorUsername()">
        <span class="$claseBola aui-avatar user-hover" rel="{$user}.getAuthorUsername()" >
            <span class="aui-avatar-inner">
                <img src="{$user}.getAuthorAvatarUrl()" alt="{$user}.getAuthorUsername()">
            </span>
        </span>
</a>
{/template}