{namespace JIRA.WorkflowActionHandler.Templates.sample}

/**
    Some description of this template to be filled.
     If you need/pass params, do not forget to include them in SoyDoc as well.
*/
{template .my}
    <div>Your markup here</div>
{/template}