<div class="workflow-view hidden" id="workflow-view-action-handler">
    <div id="workflow-action-handler-container">
        <div class="workflow-action-handler">
        <h1> Test Web Panel </h1>
        <div> $issue </div>
        <div> $project </div>
        <div> $workflow </div>
        </div>
    </div>
</div>