{namespace JIRA.WorkflowActionHandler.Templates}


/**
 * Message shown in IE8.
 */
{template .notAvailableMessage}
<div class="aui-message warning">
    <p class="title">
        <span class="aui-icon icon-warning"></span>
        {getText('workflow.action.handler.workflow.not.available.global')}
    </p>
</div>
{/template}