<h2 class="dialog-title">$i18n.getText('tutorial.labels.add.watchers')</h2>

<form class="aui" action="AddWatchers.jspa" method="post">

    <input type="hidden" name="id" value="$action.id" />

    <div class="content-body">

        <div class="field-group">
            <label>$i18n.getText('tutorial.fields.users.label') <span class="aui-icon icon-required"></span></label>
             <textarea name="watcherUserNames" class="textarea long-field"></textarea>
            <div class="description">$i18n.getText('tutorial.fields.users.desc'))</div>
        </div>
    </div>

    <div class="buttons-container content-footer">
        <div class="buttons">
            <a href="#" class="cancel">$i18n.getText('tutorial.common.cancel')</a>
            <input class="button" type="submit" value="$i18n.getText('tutorial.common.add')" />
        </div>
    </div>

</form>
